%section.section#partenaires
  .container
    .content.has-text-centered
      %h1.title.has-text-primary.has-lines
        MERCI À NOS PARTENAIRES

      .columns
        .column.is-3
          = link_to 'https://www.ssvp-mtl.org/fr' do
            %figure.image.is-square
              = image_tag 'partenaires/stvincent.png'

        .column.is-3
          = link_to 'http://legiteami.org/' do
            %figure.image.is-square
              = image_tag 'partenaires/legiteami.png'

        .column.is-3
          = link_to 'http://www.environnement.gouv.qc.ca/' do
            %figure.image.is-square
              = image_tag 'partenaires/chgmentclimatqc.png'

        .column.is-3
          = link_to 'https://coalitionavenirquebec.org/fr/blog/equipe/mathieu-levesque/' do
            %figure.image.is-square
              = image_tag 'partenaires/matlevesque.png'

      .columns
        .column.is-3
          = link_to 'https://depanneursylvestre.org/' do
            %figure.image.is-square
              = image_tag 'partenaires/sylvestre.png'

        .column.is-3
          = link_to 'http://enviroeducaction.org/' do
            %figure.image.is-square
              = image_tag 'partenaires/enviroeducaction.png'

        .column.is-3
          = link_to 'http://www.gatineau.ca/' do
            %figure.image.is-square
              = image_tag 'partenaires/gatineau.png'

        .column.is-3
          = link_to 'https://www.cantley.ca/' do
            %figure.image.is-square
              = image_tag 'partenaires/cantley.png'

      .columns
        .column.is-3
          = link_to 'http://www.kazabazua.ca/' do
            %figure.image.is-square
              = image_tag 'partenaires/kazabazua.png'

        .column.is-3
          = link_to 'http://www.metro.ca/' do
            %figure.image.is-square
              = image_tag 'partenaires/metro.png'

        .column.is-3
          = link_to 'https://www.bmo.com' do
            %figure.image.is-square
              = image_tag 'partenaires/bmo.png'

        .column.is-3
          = link_to 'https://www.provigo.ca/' do
            %figure.image.is-square
              = image_tag 'partenaires/provigo.png'

      .columns
        .column.is-3
          = link_to 'https://gauthier.software/' do
            %figure.image.is-square
              = image_tag 'partenaires/gs.png'

        .column.is-3

        .column.is-3

        .column.is-3
