%section.section#ca
  .container
    .content.has-text-centered
      %h1.title.has-text-primary.has-lines
        NOTRE CONSEIL D'ADMINISTRATION

      .columns
        .column.is-4
          %figure.image.is-square
            = image_tag 'ca/simon.png'
          %h2.subtitle Simon Boudreau

        .column.is-4
          %figure.image.is-square
            = image_tag '3rqc-logo-400x400.png'
          = link_to 'COMMUNIQUEZ AVEC NOTRE C.A.', root_path(anchor: 'contact_form'), class: 'button is-primary is-rounded is-medium'

        .column.is-4
          %figure.image.is-square
            = image_tag 'ca/denis.png'
          %h2.subtitle Denis Poitras

      .columns
        .column.is-4
          %figure.image.is-square
            = image_tag 'ca/dave.png'
          %h2.subtitle Dave Langevin

        .column.is-4
          %figure.image.is-square
            = image_tag 'ca/christian.png'
          %h2.subtitle Christian Bolduc

        .column.is-4
          %figure.image.is-square
            = image_tag 'ca/bounthao.png'
          %h2.subtitle Bounthao Thammavongsa
