.simple-calendar
  .calendar-heading
    - if calendar.number_of_weeks == 1
      %span.calendar-title
        Semaine du
        %strong.is-uppercase
          #{date_range.first.day} #{ t('date.month_names')[date_range.first.month] } #{ start_date.year }
    - else
      %span.calendar-title
        Semaine #{calendar.week_number} - #{calendar.end_week}

  %table.table.table-striped
    %thead
      %tr
        - date_range.slice(0, 7).each do |day|
          %th= t('date.day_names')[day.wday]
    %tbody
      - date_range.each_slice(7) do |week|
        %tr
          - week.each do |day|
            = content_tag :td, class: calendar.td_classes_for(day) do
              - if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block)
                - capture_haml(day, sorted_events.fetch(day, []), &block)
              - else
                - block.call day, sorted_events.fetch(day, [])
  = link_to "Semaine précédente", calendar.url_for_previous_view, class: "is-pulled-left"
  = link_to "Semaine suivante", calendar.url_for_next_view, class: "is-pulled-right"
